<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.articles.vacabulary.editorial.gamefever.editorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/MyMaterialTheme">
        <activity android:name=".TestActivity" />
        <activity android:name=".EditorialFeedActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="app.articles.vacabulary.editorial.gamefever.editorial.EditorialFeedActivity" android:scheme="http"/>
                <data android:host="app.articles.vacabulary.editorial.gamefever.editorial.EditorialFeedActivity" android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity android:name=".EditorialListActivity">


        </activity>

        <activity android:name=".VacabularyActivity" />
        <activity android:name=".AboutActivity" />

        <activity android:name=".SettingActivity" />


        <service android:name="utils.FireBasePushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".EditorialListWithNavActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="acc1b0b9ec29985ac9dbef0f05837dac47e0b387" />
    </application>

</manifest>