<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.articles.vacabulary.editorial.gamefever.editorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="utils.VolleyManager"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FeedActivityThemeLight">
        <activity
            android:name=".EditorialFeedActivity"
            android:label="Editorial">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data
                    android:host="app.articles.vacabulary.editorial.gamefever.editorial.EditorialFeedActivity"
                    android:scheme="http" />
                <data
                    android:host="app.articles.vacabulary.editorial.gamefever.editorial.EditorialFeedActivity"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".EditorialListActivity" />
        <activity android:name=".VacabularyActivity" />

        <service android:name="utils.FireBasePushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".EditorialListWithNavActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="acc1b0b9ec29985ac9dbef0f05837dac47e0b387" />

        <activity
            android:name=".SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/FeedActivityThemeLight" />
        <activity
            android:name=".NotesActivity"
            android:label="@string/title_activity_notes"
            android:theme="@style/FeedActivityThemeLight" />
        <activity
            android:name=".NotesFeedActivity"
            android:label="@string/title_activity_notes_feed"
            android:theme="@style/FeedActivityThemeLight" />
    </application>

</manifest>